<h2>Forgot your password?</h2>

<div class="text-shironeri">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "user_authenticates/shared/error_messages", resource: resource %>

    <div class="field text-shironeri">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
</div>

<%= render "user_authenticates/shared/links" %>
