<div class="flex justify-center min-h-screen bg-torinoko">
    <div class="w-full flex">
      <div class="w-4/12">
        <div class="w-4/5 bg-base h-full border-r-2">
          <p class="mb-4 ml-10 pt-8 text-sumj">
            <%= link_to 'javascript:history.back()', data: {turbo: false} ,class: "text-xl" do%>
              <i class="fa-solid fa-angles-left"></i>戻る
            <%end%>
          </p>
          <p class="mb-4 mx-8 py-4 mt-8 text-sumi text-3xl text-center border-2 bg-usuki">
            <i class="fa-solid fa-list mr-4"></i>投稿一覧
          </p>
          <p class="mb-4 py-4 mt-8 text-sumi text-3xl text-center ">
            <i class="fa-regular fa-bookmark mr-4"></i>ブックマーク
          </p>
          <p class="mb-4 py-4 mt-8 text-sumi text-3xl text-center ">
            <i class="fa-solid fa-gears mr-4"></i>設定
          </p>
        </div>
      </div>
      <div class="w-8/12 h-screen mr-20">
        <div class="h-5/6 overflow-auto hidden-scrollbar mt-10" >
          <% @user.posts.each do |post| %>
            <div id="post-<%= post.id %>", class="card card-side h-[200px] bg-gohun shadow-xl mt-10 rounded-xl">
              <%if post.images.attached? %>
                <div class="w-[200px] h-[200px] ">
                  <%= image_tag url_for(post.images.first), class: "w-full h-full rounded-l-xl"%>
                </div>
              <%else%>
                <div class="w-[200px] h-[200px] ">
                  <%= image_tag "top-main.jpg", class: "w-full h-full rounded-l-xl"%>
                </div>
              <% end %>

              <div class="p-6 w-2/3">
                <div class="card-title border-b text-3xl flex justify-between">
                  <div><%= post.title.truncate(16) %></div>
                  <div>
                    <%= link_to edit_post_path(post.id), data: {turbo: false} do%><i class="fa-solid fa-pen-to-square ml-2 text-xl"></i><%end%>
                    <%= link_to post_path(post.id), data: {turbo_method: :delete, turbo_confirm: '削除してよろしいですか?'} do %><i class="fa-solid fa-trash-can ml-1 text-xl"></i><%end%>
                  </div>
                </div>
                <p class="text-sm mt-4"><%= post.body.truncate(190) %></p>
              </div>
            </div>
          <%end%>
        </div>
      </div>
  </div>
</div>
