<div class="fixed w-full z-50">
  <div class="text-gohun bg-opacity-0 flex justify-center">
    <div class="container">
      <div class="navbar">
        <div class="navbar-start">
          <div class="dropdown">
            <%= link_to root_path do%>
              <%= image_tag "logo.png", class: "left-0 ml-6 h-10 my-2 w-auto inline-block"%>
            <% end %>
          </div>
        </div>
        <div class="navbar-end">
          <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex justify-end mr-3">
              <label for="my-drawer-4" class="drawer-button btn btn-ghost btn-circle ">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </div>
              </label>
            </div> 
            <div class="drawer-side">
              <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
              <ul class="menu p-4 w-full min-h-full bg-sumi text-base-content">
              <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
              <div class="drawer-content flex justify-end mr-3">
                <label for="my-drawer-4" class="drawer-button btn btn-ghost btn-circle ">
                  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                  </div>
                </label>
              </div> 
              <div class="flex flex-col items-center z-50">
                <li><%= link_to "TOP", root_path%></li>
                <li><%= link_to "投稿", new_post_path, data: {turbo: false}%></li>
                <li><%= link_to "マイページ", user_path(current_user_authenticate.user_id) %></li>
                <li><%= link_to "周辺検索", locations_search_path, data: {turbo: false}%></li>
                <li><a href="#">ブックマーク</a></li>
                <li><%=link_to "ログアウト", destroy_user_authenticate_session_path, data: {turbo_method: :delete}%></li>
              </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
