<div class="bg-gohun min-h-screen flex flex-col pt-20">
  <div class="container max-w-md mx-auto flex-1 flex flex-col justify-center">
    <div class="bg-base-yellow rounded shadow-md text-sumi w-full border">
      <div class="flex">
        <div class="w-1/2 flex justify-center items-center bg-namari border-">
          <%= link_to "ログイン", new_user_authenticate_session_path, class: "m-4 text-2xl text-center" %>
        </div>
        <div class="w-1/2 flex justify-center items-center">
          <h1 class="m-4 text-2xl text-center">新規登録</h1>
        </div>
      </div>
      <div class="px-6 mt-8">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "user_authenticates/shared/error_messages", resource: resource %>
            <%= f.label :email, "メールアドレス"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gohun block border border-grey-light w-full p-3 rounded mb-4" %>

            <%= f.label :password, "パスワード"%>
            <%= f.password_field :password, autocomplete: "new-password", class: "bg-gohun block border border-grey-light w-full p-3 rounded mb-4" %>

            <%= f.label :password_confirmation, "パスワード確認用"%>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gohun block border border-grey-light w-full p-3 rounded mb-4" %>

          <div class="w-full text-center py-3 rounded bg-green text-white hover:bg-green-dark focus:outline-none my-6">
            <%= f.submit "新規登録", class: "bg-gohun block border border-grey-light w-full p-3 rounded mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
